.App {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  height: 65vw;
}

html { 
  background: url("./static/awareness.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}